/* Importação de icones do Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* Mobile */
@media screen and (max-width: 480px) {

    /* Todo corpo da Página */
    body {
        width: 100%;
        height: 100%;
    }

    /* Topo do Site */
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        height: 70px;
        gap: 130px;
    }

    .logo-conteudo {  /* Toda a Parte da Ancora do que Engloba o Logo */
        padding-top: 20px;
    }

    .menu-desktop {
        display: none;
    }


    /* Menu Mobile */
    .menu-mobile {
        display: block;
    }

    .overlayMenu {
        display: block;
    }

    .botao-abrir-menu {
        display: block;
        padding-top: 20px;
    }

    /* Botão Abrir Menu Mobile */
    .botao-abrir-menu i {
        display: block;
        font-size: 38px;
        margin: 0;
        color: rgba(35, 51, 72, 1);
    }

    /* Estrutura do Menu Mobile */
    .menu-mobile {
        display: block;
        width: 0%;
        height: 100%;
        position: fixed;
        top: 0px;
        right: 0px;
        z-index: 99999;
        overflow: hidden;
        transition: 0.3s;
        background-color: rgb(19, 77, 153);
    }

    /* Ação do Javascript no Menu Mobile */
    /* Classe (abrir-menu) Criada no Javascript para Abrir o Menu na Versão Mobile */
    .menu-mobile.abrir-menu {
        width: 60%;
    }

    /* Adicionando e Habilitando o Efeito da Classe overlay-menu ao Abrir o Menu Mobile */
    .menu-mobile.abrir-menu~.overlayMenu {
        display: block;
    }

    /* Estrutura do Botão Fechar Menu Mobile */
    .menu-mobile .botao-fechar-menu {
        margin-left: 15px;
        margin-top: 15px;
    }

    /* Botão Fechar Menu Mobile */
    .menu-mobile .botao-fechar-menu i {
        font-size: 30px;
        color: white;
    }

    /* Lista com as Opções do Menu Mobile */
    .menu-mobile>nav>li {
        text-align: right;
        list-style-type: none;
    }

    /* Especificamente Configurações nas Opções/Links */
    .menu-mobile>nav>li>a {
        font-size: 20px;
        color: #F8F8F8;
        padding: 15px 20px;
        display: block;
    }

    .menu-mobile>nav>li>a:hover {
        background-color: white;
        color: rgb(44, 65, 94);
    }

    /* Efeito para Escurecer a Tela ao Abrir o Menu Mobile */
    .overlayMenu {
        background-color: rgba(59, 119, 197, 0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }


    /* Hero da Página */
    /* Sessão Toda da Parte Hero */
    .hero-conteudo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-height: 830px;
        margin: auto;
        margin-top: 20px;
        padding: 0px 10px;
        position: static;
    }

    .icone-bolinhas-hero {
        display: none;
    }

    /* Imagem de Ilustração */
    .ilustracao1 {
        margin-top: 0px;
        margin-bottom: 30px;
        margin-right: 0px;
    }

    /* Toda a Div das Informações - Parte a Esquerda do Hero */
    .hero-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        margin: auto;
        text-align: center;
    }

    .hero-info h2 {
        width: 350px;
        font-size: 38px;
        margin: auto;
        margin-bottom: 25px;
    }

    .hero-info p {
        width: 370px;
        font-size: 18px;
        margin: auto;
        margin-bottom: 40px;
        text-align: center;
    }

    .quebra-linha-hero {
        display: none;
    }

    .quebra-linha-hero-mobile {
        display: block;
    }

    .hero-info button {
        width: 200px;
        height: 60px;
        padding: 20px 0px;
        background-color: rgba(69, 143, 246, 1);
        border-radius: 55px;
        font-size: 18px;
        font-weight: 700;
        color: white;
    }


    /* Sessão Nossos Serviços */

    .nossos-servicos {  /* Sessão Toda da Parte Nossos Serviços */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        max-height: 1250px;
        margin-top: 100px;
        padding: 0px 10px;
        position: relative;
        overflow: hidden;
    }


    .servicos-titulo-paragrafo {  /* Parte que Pega o h2, o hr e o p */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .servicos-titulo-paragrafo h2 {
        width: 350px;
        margin: auto;
        margin-bottom: 26px;
    }
    
    .servicos-titulo-paragrafo p {
        width: 370px;
        margin: auto;
    }

    .quebra-linha-servicos {
        display: none;
    }

    .icone-forma-servicos {
        position: absolute;
        top: 260px;
        right: 80px;
        z-index: -1;
        opacity: 60%;
    }

    .icone-bolinhas-servicos{
        display: none;
    }


    /* Co-classe do Swiper-Container */
    .servicos-cards-1 {  /* Parte dos Cards - (servicos-cards-1 pega os 3 primeiros de cima) */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 40px;
        position: relative;
    }

    /* Co-classe do Swiper-Slide */
    .card-servicos {  /* Está Parte é das Informações Dentro dos Cards e os Cards em Si */
        width: 350px;
        box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    }

    .servicos-cards-2 {  /* Parte dos Cards - (servicos-cards-1 pega os 3 primeiros de cima) */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 50px;
        position: relative;
    }


    /* Navegação dos Slides dos Cards */
    .nossos-servicos .swiper-button-prev-servicos1 {
        position: absolute;
        left: 1px;
    }
    
    .nossos-servicos .swiper-button-next-servicos1 {
        position: absolute;
        right: 1px;
    }


    .nossos-servicos .swiper-button-prev-servicos2 {
        position: absolute;
        left: 1px;
    }
    
    .nossos-servicos .swiper-button-next-servicos2 {
        position: absolute;
        right: 1px;
    }

    /* Alterando o tamanho dos icones */
    .swiper-button-prev-servicos1:after,
    .swiper-button-next-servicos1:after,
    .swiper-button-prev-servicos2:after,
    .swiper-button-next-servicos2:after {
        font-size: 30px;
    }


    .nossos-servicos button {
        width: 200px;
        height: 60px;
        padding: 20px 0;
    }


    /* Sessão dos Prestadores de Serviços */

    .prestadores-cuidados-com-saude {  /* Toda a Sessão da Parte Prestadores de Serviços */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-height: 830px;
        margin: auto;
        margin-top: 100px;
        padding: 0px 10px;
        text-align: center;
        gap: 30px;
    }

    .prestadores-cuidados-com-saude h2 {
        width: 350px;
        margin: auto;
    }

    .prestadores-cuidados-com-saude hr {
        margin: auto;
        margin-top: 26px;
        margin-bottom: 31px;
    }

    .prestadores-cuidados-com-saude p {
        width: 370px;
        margin: auto;
        margin-bottom: 37px;
        word-break: break-all;
    }

    .quebra-linha-prestadores {
        display: none;
    }


    /* Sessão do Download do App */

    .download-do-nosso-app {  /* Toda a Sessão da Parte Download do App */
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-height: 810px;
        margin-top: 100px;
        padding: 0px 10px;
        gap: 30px;
        text-align: center;
        position: relative;
    }

    .download-do-nosso-app h2 {
        width: 350px;
        margin: auto;
    }

    .download-do-nosso-app hr {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 31px;
    }

    .download-do-nosso-app p {
        width: 370px;
        margin: auto;
        margin-bottom: 40px;
    }

    .quebra-linha-download {
        display: none;
    }

    .download-do-nosso-app button {  /* Todo o Molde do Notão de Download */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 12px;
    }

    .icone-bolinhas-download {
        display: none;
    }


    /* Sessão dos Comentários */
    .sessao-comentarios {  /* Toda a Sessão da Parte Comentários */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-height: 520px;
        margin: auto;   
        margin-top: 100px;
        padding: 0px 10px;
        position: relative;
    }

    .icone-bolinhas-comentarios-esquerda {
        display: none;
    }

    .comentarios-container {  /* Espaço em Azul dos Comentarios */
        width: 100%;
        height: 500px;
    }

    .icone-bolinhas-comentarios-direita {
        position: absolute;
        bottom: 395px;
        left: 290px;
    }

    .comentarios-topo {  /* Topo / Header do Container do comentario */
        margin-top: 20px;
        margin-bottom: 35px;
    }

    .comentarios-topo h2 {
        width: 350px;
        font-size: 34px;
        margin: auto;
    }

    .comentarios-topo hr {
        margin-top: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card-conteudo {  /* Div da parte debaixo do card, englobando tudo: foto, nome, local e paragrafo(comentário) */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .usuario-info img {
        width: 70px;
        height: 70px;
        margin-right: 15px;
        border: 4px solid white;
    }

    .usuario-nome-funcao {  /* Estilos do Nome e Função do Usuario */
        line-height: 1.5;
    }

    .usuario-nome-funcao h3 {
        width: 175px;
        font-size: 20px;
    }

    .usuario-nome-funcao span {
        font-size: 18px;
    }

    .comentario-texto {  /* Paragrafo do comentário da pessoa */
        width: 100%;
        max-width: 345px;
        height: 120px;
        margin: auto;
        font-size: 16px;
        line-height: 2;
    }

    .quebra-linha-comentarios {
        display: none;
    }


    /* Controles de navegação Swipper */

    /* Setas de Navegação */

    .sessao-comentarios .swiper-button-prev,
    .sessao-comentarios .swiper-button-next {
        display: none;
    }

    /* Paginação */

    .sessao-comentarios .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transform: translate(0px, -3px);
        gap: 18px;
    }


    /* Sessão dos Artigos */
    .sessao-artigos {  /* Sessão Falando Sobre Artigos com 3 Cards */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        max-height: 2000px;
        margin: auto;
        margin-top: 100px;
        padding: 0px 10px;
    }

    .sessao-artigos h2 {
        width: 350px;
        margin: auto;
        text-align: center;
    }

    .artigos-cards-container {  /* Div que engloba os 3 cards */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 45px;
        position: relative;
    }

    .icone-forma-artigos {
        display: none;
    }

    .icone-bolinhas-artigos {
        display: none;
    }

    .card-artigo {  /* Div dos cards (engloba todo o molde do card) */
        height: 550px;
        box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.8);
    }

    .quebra-linha-artigo {
        display: none;
    }

    .quebra-linha-artigo-mobile {
        display: block;
    }

    .card-artigo a {
        display: flex;
        align-items: center;
        font-size: 18px;
        gap: 12px;
    }

    .card-artigo a img {
        width: 20px;
        height: 20px;
    }

    .sessao-artigos button {  /* Botão da sessão */
        width: 200px;
        height: 60px;
        padding: 20px 0;
    }


    /* Footer */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 610px;
        margin: auto;
        margin-top: 100px;
        padding: 0px 10px;
        position: relative;
    }

    .icone-bolinhas-footer-direita {
        width: 120px;
        position: absolute;
        bottom: 570px;
        left: 250px;
        z-index: -1;
    }

    .div-background {  /* Div que esta por dentro do footer. Pega toda a parte azul do footer e o que esta nela */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 370px;
        height: 100%;
        max-height: 520px;
        margin: auto;
        margin-top: 10px;
        position: relative;
    }

    .icone-bolinhas-footer-esquerda {
        display: none;
    }

    .div-footer-trafalgar {
        height: 190px;
        margin: auto;
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .div-footer-trafalgar p {  /* Paragrafo da parte da trafalgar no footer, lado esquerdo */
        width: 365px;
        font-size: 18px;
        text-align: left;
        margin: auto;
        margin-bottom: 40px;
    }

    .quebra-linha-footer {
        display: none;
    }

    .quebra-linha-footer-mobile{
        display: block;
    }


    .footer-opcoes {
        display: flex;
        align-items: start;
        text-align: left;
        margin-bottom: 20px;
        gap: 22px;
    }

    .company {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 0px;
    }

    .company h3 {  /* Titulo da parte Company no Footer */
        margin-bottom: 20px;
    }


    .region {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 0px;
    }

    .region h3 {  /* Titulo da parte Region no Footer */
        margin-bottom: 20px;
    }


    .help {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .help h3 {  /* Titulo da parte Help no Footer */
        margin-bottom: 20px;
    }

    .div-footer-trafalgar span {  /* Parte dos direitos reservados, logo abaixo do paragrafo da trafalgar */
        width: 330px;
        font-size: 16px;
        margin: auto;
        position: absolute;
        text-align: center;
        transform: translate(-50%, 90%);
        bottom: -5%;
        left: 50%;
    }
}